<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>4-Squar for download</title>
    <link rel="stylesheet" type="text/css" href="../../assets/project.css">
    <link rel="stylesheet" href="../../assets/normalize.css">
    <link rel="stylesheet" href="../../assets/s.css">
    <link rel="stylesheet" href="../../assets/media.css" >
    <!-- <link rel="stylesheet" href="css/hover.css"> -->
  </head>
  <body>
    <div class="container">

      <!--header-->
      <div class="header">
       <a routerLink="/home"> <div class="logo">
                  <img src="../../assets/image/foursquare.png" title="Four Square for Download" alt=" logo site" >

          <p>4-SQUARE</p>

        </div></a>
                                        <!--search-->

      <div class="sereach">
        <form action="" method="post">

        <input type="text" class="searchInput" name="sereach" placeholder="Search Here">
        <button type="submit" class="searchbtn">Search Now</button>
        </form>
          </div>
      <div class="icon">
        <div class="left">
            <ul>
              <li><a href="http://www.twitter.com" target="_blank"><img src="../../assets/apps/16.jpg" alt="Twitter" title="Twitter"></a></li>
              <li><a href="http://www.instagram.com" target="_blank"><img src="../../assets/apps/20.jpg" alt="Instagram" title="Instagram"></a></li>
              <li><a href="http://www.facebook.com" target="_blank"><img src="../../assets/apps/70.jpg" alt="Facebook" title="Facebook"></a></li>
              <li><a href="http://www.youtube.com" target="_blank"><img src="../../assets/apps/71.jpg" alt="Youtube" title="Youtube"></a></li>
              <li><a href="http://www.gmail.com" target="_blank"><img src="../../assets/apps/72.jpg" alt="Gmail" title="Gmail"></a></li>

            </ul>
        </div>
      </div>

      </div>
      <!--header-->

      <!--nav-->
      <div class="nav">
      <!--left nav-->

      <div class="left">
        <div class="nona">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      <!--right nav-->
        <div class="right">

        <div class="left">

          <ul>
            <li><a routerLink="/arfilms" target="_blank">الأفلام العربية</a></li>
            <li><a routerLink="/enfilms" target="_blank">الأفلام الأجنبية</a></li>
            <li><a routerLink="/enfilms" target="_blank">الأفلام الهندية</a></li>
            <li><a routerLink="/forign-moslsl" target="_blank">المسلسلات الأجنبية</a></li>
            <li><a routerLink="/anemy" target="_blank">الأنمى</a></li>
            <li><a routerLink="/music" target="_blank">موسيقى</a></li>
            <li><a routerLink="/mosr3a7ora" target="_blank">المصارعة الحرة</a></li>
            <li><a routerLink="/islamic" target="_blank">إسلاميات</a></li>
            <li><a routerLink="/anasheed" target="_blank">أناشيد</a></li>
            <li><a routerLink="/other" target="_blank">آخرى</a></li>
            <li><a routerLink="/application" target="_blank">البرامج</a></li>
            <li><a routerLink="/games" target="_blank">الألعاب</a></li>
            <li><a routerLink="/sport" target="_blank">رياضة</a></li>
            <li><a routerLink="/armoslsl" target="_blank">المسلسلات العربية</a></li>
            <li><a routerLink="/tvprog" target="_blank">البرامج التلفزيونية</a></li>
            <li><a routerLink="/devices" target="_blank">الاجهزة اللوحية</a></li>
            <li><a routerLink="/masr7" target="_blank">مسرحيات</a></li>
            <li><a routerLink="/docaflam" target="_blank">أفلام وثائقية</a></li>
            <li><a routerLink="/booksearch" target="_blank">الكتب وألابحاث</a></li>
            <li><a routerLink="/courses" target="_blank">الكورسات التعليمية</a></li>

          </ul>
        </div>

          </div>


    </div>


      <!--nav-->

      <!--contant-->
      <div class="content">

      <div class="spacial">
        <h1 style="background-image: url('../../assets/18.jpg');"> >>Spacial--</h1>

        <div class="one">
          <ul>
            <li><a href="image.html"><img src="../../assets/image/00.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/1.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/2.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/3.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/4.jpg" alt=""></a></li>
          </ul>

        </div>
        <div class="tow">
          <ul>
            <li><a href="image.html"><img src="../../assets/image/5.png" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/6.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/7.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/8.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/9.jpg" alt=""></a></li>
          </ul>
        </div>
        <div class="three">
          <ul>
            <li><a href="image.html"><img src="../../assets/image/a.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/10.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/11.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/12.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/13.jpg" alt=""></a></li>
          </ul>
        </div>
        <div class="four">
          <ul>
            <li><a href="image.html"><img src="../../assets/image/14.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/15.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/16.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/17.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/18.jpg" alt=""></a></li>
          </ul>
        </div>




      </div>
    <div class="aflam">

      <div class="spacial">
          <h1 style="background-image: url('../../assets/18.jpg');">>>Films--</h1>



        <div class="three">
          <ul>
            <li><a href="image.html"><img src="../../assets/image/a.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/19.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/20.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/21.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/22.jpg" alt=""></a></li>
          </ul>
        </div>
        <div class="four">
          <ul>
            <li><a href="image.html"><img src="../../assets/image/23.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/24.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/25.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/00.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/1.jpg" alt=""></a></li>
          </ul>
        </div>

      </div>
    <div class="moslslat">

      <div class="spacial">
        <h1 style="background-image: url('../../assets/18.jpg');" >>>Moslslaat--</h1>



        <div class="three">
          <ul>
            <li><a href="image.html"><img src="../../assets/image/a.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/2.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/3.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/4.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/25.jpg" alt=""></a></li>
          </ul>
        </div>
        <div class="four">
          <ul>
            <li><a href="image.html"><img src="../../assets/image/6.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/7.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/8.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/9.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/10.jpg" alt=""></a></li>
          </ul>
        </div>

      </div>
      <div class="tv-programe">

  <div class="spacial">
        <h1 style="background-image: url('../../assets/18.jpg');" >>>TV Programmes--</h1>



        <div class="three">
          <ul>
            <li><a href="image.html"><img src="../../assets/image/a.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/11.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/12.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/13.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/14.jpg" alt=""></a></li>
          </ul>
        </div>
        <div class="four">
          <ul>
            <li><a href="image.html"><img src="../../assets/image/15.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/16.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/17.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/18.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/19.jpg" alt=""></a></li>
          </ul>
        </div>

      </div>
      <div class="games">

  <div class="spacial">
        <h1 style="background-image: url('../../assets/18.jpg');" >>>Games--</h1>


        <div class="three">
          <ul>
            <li><a href="image.html"><img src="../../assets/image/a.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/a.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/a.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/a.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/a.jpg" alt=""></a></li>
          </ul>
        </div>
        <div class="four">
          <ul>
            <li><a href="image.html"><img src="../../assets/image/25.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/26.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/27.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/28.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/29.jpg" alt=""></a></li>
          </ul>
        </div>

      </div>
      <div class="courses-app">

  <div class="spacial">
        <h1 style="background-image: url('../../assets/18.jpg');" >>>Cources & Apps--</h1>


        <div class="three">
          <ul>
            <li><a href="image.html"><img src="../../assets/image/a.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/a.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/a.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/a.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/a.jpg" alt=""></a></li>
          </ul>
        </div>
        <div class="four">
          <ul>
            <li><a href="image.html"><img src="../../assets/image/30.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/20.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/22.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/25.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/28.jpg" alt=""></a></li>
          </ul>
        </div>

      </div>
      <div class="more">

  <div class="spacial">
        <h1 style="background-image: url('../../assets/18.jpg');" >>>More--</h1>


        <div class="three">
          <ul>
            <li><a href="image.html"><img src="../../assets/image/a.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/a.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/a.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/a.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/a.jpg" alt=""></a></li>
          </ul>
        </div>
        <div class="four">
          <ul>
            <li><a href="image.html"><img src="../../assets/image/20.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/30.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/22.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/26.jpg" alt=""></a></li>
            <li><a href="image.html"><img src="../../assets/image/28.jpg" alt=""></a></li>
          </ul>
        </div>

      </div>
      </div>




      <div class="online">
        <ul>
          <li><a href="" target="_blank"><img src="../../assets/online/1.png" alt="الراديو" title="الراديو" /></a></li>
          <li><a href="" target="_blank"><img src="../../assets/online/2.png" alt="التلفاز" title="التلفاز" /></a></li>
          <li><a href="" target="_blank"><img src="../../assets/online/3.png" alt="بث مباشر" title="بث مباشر" /></a></li>
          <li><a href="" target="_blank"><img src="../../assets/online/4.png" alt="الإعلان بالموقع" title="الإعلان بالموقع" /></a></li>
          <li><a href="" target="_blank"><img src="../../assets/online/5.png" alt="قنوات الدعم الفنى" title="قنوات الدعم الفنى" /></a></li>
          <li><a href="" target="_blank"><img src="../../assets/online/6.png" alt="اتصل بنا" title="اتصل بنا" /></a></li>
        </ul>
      </div>
  <!--content-->
  <!--footer-->
      <div class="footer">

            <div class="comment">
            <h3>: Comments</h3>
            <textarea></textarea>
            <button type="submit">Send</button>
            </div>

            <div class="links">

              <div class="icon">
                  <ul>
                    <li><a href="http://www.twitter.com" target="_blank"><img src="../../assets/apps/16.jpg" alt="Twitter" title="Twitter"></a></li>
                    <li><a href="http://www.instagram.com" target="_blank"><img src="../../assets/apps/20.jpg" alt="Instagram" title="Instagram"></a></li>
                    <li><a href="http://www.facebook.com" target="_blank"><img src="../../assets/apps/70.jpg" alt="Facebook" title="Facebook"></a></li>
                    <li><a href="http://www.youtube.com" target="_blank"><img src="../../assets/apps/71.jpg" alt="Youtube" title="Youtube"></a></li>
                    <li><a href="http://www.gmail.com" target="_blank"><img src="../../assets/apps/72.jpg" alt="Gmail" title="Gmail"></a></li>

                  </ul>
              </div>

              <div class="frame">
                <iframe src="http://akoam.com/">
              </iframe>
              </div>

            </div>

            <div class="text">
                    <h2>Copy Right Seved 2017 &copy; <span>4-SQUARE</span> </h2>
          </div>

                  </div>

      <!--footer-->
    </div>
      </div>
      </div>
    </div>
    </div>
      </div>
      </div>
  </body>
</html>

